.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url('../../public/background4.png'); /* Relative path to your image */
    background-size: cover;
    background-repeat: no-repeat;
}

.formGroup {
    text-align: center;
}

.error {
    
    color: red;
    font-size: 14px;
    margin-top: 5px;
    transition: transform 0.4s ease; /* Add a transition for transform */
  }
  .textCenter {
    text-align: center;
  }

  
  
  
  
  
  .moveUp {
    transform: translateY(0); /* Move the error text up */
  }
  
  .moveDown {
    transform: translateY(15px); /* Reset the transform to move it down */
  }
  
  

.loginButton {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, var(--fourth-color), var(--third-color));
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.4s ease;
  }
  
  .moveRight {
    transform: translateY(-15px);
  }
  
  .moveLeft {
    transform: translateY(15px);
  }

  .inputLabel {
    display: flex;
    align-items: center;
  }
  
  .inputText {
    margin: 0 1rem;
  }

  .labelRow {
    display: flex;
    height: 20px;
    margin-left: 1rem;
  }


  .wineGlassesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px; /* Increase the height for the spilled wine */
    margin: 0 auto;
    position: relative;
  }
  
  .wineGlass {
    width: 20px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom center; /* Change transform origin to bottom center */
    z-index: 1;
  }
  
  .leftWineGlass {
    animation: moveLeft 1s ease-in-out;
  }
  
  .rightWineGlass {
    animation: moveRight 1s ease-in-out;
  }
  
  @keyframes moveLeft {
    0%, 50% {
      left: 0;
      transform: rotate(0deg);
    }
    40%, 60% {
      transform: rotate(-10deg); /* Increase tilt angle */
    }
    50%, 100% {
      left: 50%;
      transform: rotate(0deg);
    }
  }
  
  @keyframes moveRight {
    0%, 50% {
      right: 0;
      transform: rotate(0deg);
    }
    40%, 60% {
      transform: rotate(10deg); /* Increase tilt angle */
    }
    50%, 100% {
      right: 50%;
      transform: rotate(0deg);
    }
  }
  
  .wineGlass:before {
    content: "\1F377"; /* Unicode character for wine glass */
    font-size: 20px;
    position: relative;
    z-index: 2;
  }
  
  .clashEffect {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: red; /* Change this to desired color */
    opacity: 0;
    transform-origin: bottom center; /* Set transform origin to bottom center */
    animation: clashAnimation 0.2s ease-in-out forwards;
  }
  
  @keyframes clashAnimation {
    0% {
      transform: translateY(0) rotate(0deg); /* Adjust for the desired tilt effect */
      opacity: 0.6;
    }
    100% {
      transform: translateY(-10px) rotate(-5deg); /* Adjust for the desired tilt effect */
      opacity: 0;
    }
  }
  
  .loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}