.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  padding-top: 95px;
  width: 100%;
  padding-bottom: 100px;
}

.backButton {
  position: fixed;
  top: 85px;
  left: 15px;
}

.backButton:active {
  opacity: 0.6;
}

.backIcon {
  color: var(--button-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emptyCart {
  display: flex;
  align-items: center;
  padding-right: 15px;
  margin-top: -5px;
}

.emptyCartLabel {
  padding-right: 5px;
  font-size: 11px;
  color: var(--secondary-color);
}

.trashIcon {
  color: var(--secondary-color);
}

.trashIcon:active {
  opacity: 0.6;
}

.cartItems {
  padding: 20px;
}

.button {
  animation: none;
  position: fixed;
  bottom: 30px;
  font-size: 16px !important;
  text-transform: none !important;
}

.button:active {
  opacity: 0.6;
}
