@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --main-color: #02081a;
  --secondary-color: #f4ececf5;
  --third-color: #bcbfbc;
  --fourth-color: #000000;
  --fifth-color: #e8e8e9;
  --button-color: #1a5c99;
  --paybook-color: #e7db9d;
  --text-color: #000000;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
[data-theme="dark"] {
  --main-color: #02081a;
  --secondary-color: #f4ececf5;
  --third-color: #bcbfbc;
  --fourth-color: #000000;
  --fifth-color: #e8e8e9;
  --button-color: #1a5c99;
  --paybook-color: #e7db9d;
  --text-color: #ffffff;
  --background-color: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color) !important;
}

body {
  color: var(--fourth-color);
  background: linear-gradient(to bottom, transparent, rgb(var(--main-color)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

form {
  width: 300px;
  height: 280px;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  background-color: var(--secondary-color);
}

label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 0.5rem;
  border: 1px solid var(--third-color);
  border-radius: 25px;
  font-size: 14px;
  background-color: var(--third-color);
}
input::placeholder {
  color: var(--fourth-color); /* Set the desired color */
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    var(--fourth-color),
    var(--third-color)
  );
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.4s ease;
}

button:hover {
  background-color: var(--main-color);
}
