.container {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--paybook-color);
}

.scanButton {
  padding: 12px 27px !important;
  color: white;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-left: 40px;
}

.slogan {
  max-width: 190px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}

.subButtonText {
  margin-top: 7px;
  font-size: 11px;
}

.qrIcon {
  margin-bottom: -3px;
  margin-left: 3px;
}
