.container {
  height: 65px;
  display: flex;
  align-items: center;
  background-color: var(--paybook-color);
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  width: 100%;
}

.logo {
  height: 85%;
  width: 80px;
  object-fit: contain;
}

.cart {
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart:active {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.6;
}

.cartIcon {
  color: var(--button-color);
}
.cartItemsNumber {
  color: #fff;
  position: absolute;
  font-size: 10px;
  top: 15px;
  left: 52%;
  transform: translateX(-20%);
}

.right {
  display: flex;
  align-items: center;
}

.callWaiter {
  margin-right: 15px;
}

.callWaiter:active {
  opacity: 0.6;
}

.callWaiterIcon {
  color: rgb(226, 134, 43);
}

.shake {
  animation: shake 0.3s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px) rotate(2deg);
  }
  50% {
    transform: translateX(2px) rotate(-2deg);
  }
  75% {
    transform: translateX(-2px) rotate(2deg);
  }
  100% {
    transform: translateX(0);
  }
}
