.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url("../../public/backgroundT.png"); /* Relative path to your image */
  background-size: cover;
  background-repeat: no-repeat;
}
.noBackground {
  background-color: white;
  background-image: none;
}
.order {
  width: 86%;
  height: 90%;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  background-color: var(--secondary-color);
  box-shadow: var(--main-color) 0px 0px 0px 2px inset,
    var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
}

.orderSection {
  display: flex;
  margin: 2rem 0;
  font-size: 40px;
}

.centeredText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.break {
  height: 30px;
  width: 100%;
}

.animating {
  animation: moveOrder 1s forwards;
}

.animatingRight{
  animation: moveOrderRight 1s forwards;
}

@keyframes moveOrderRight {
  to {
    transform: translate(500px, 500px);
    opacity: 0;
  }
  50% {
    transform: translate(0);
    opacity: 1;
    box-shadow: var(--main-color) 0px 0px 0px 2px inset, var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
  }
  from {
    transform: translate(0, 20px);
    opacity: 1;
    box-shadow: var(--main-color) 0px 0px 0px 2px inset, var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
  }
}

@keyframes moveShadow {
  from {
    box-shadow: var(--main-color) 0px 0px 0px 2px inset,
      var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
  }
  to {
    box-shadow: var(--main-color) 0px 0px 0px 2px inset,
      var(--third-color) 0px 0px 0px 0px, var(--main-color) 0px 0px;
  }
}

@keyframes moveOrder {
  to {
    transform: translate(-500px, 500px);
    opacity: 0;
  }
  50% {
    transform: translate(0);
    opacity: 1;
    box-shadow: var(--main-color) 0px 0px 0px 2px inset,
      var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
  }
  from {
    transform: translate(0, 20px);
    opacity: 1;
    box-shadow: var(--main-color) 0px 0px 0px 2px inset,
      var(--third-color) 15px -15px 0px -3px, var(--main-color) 15px -15px;
  }
}

.shake {
  animation: shakeAnimation 2s infinite;
}

@keyframes shakeAnimation {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}


.upAndDown {
  animation: upAndDownAnimation 2s infinite;
}

@keyframes upAndDownAnimation {
  0%,100% {
    transform: translate(0, 20px);
  }
  50% {
    transform: translate(0, -20px);
  }
}

.table {
  display: flex;
  font-size: 40px;
  width: 100%;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 3px dotted black;
}

.orderBody {
  padding-top: 2rem;
  width: 100%;
  overflow-x: auto;
  max-height: 600px; /* Set max-height to trigger the scrollbar */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds height */
}

.noOrdersBody {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
}

.orderProduct {
  padding: 1rem 1rem;
  margin-top: 10px;
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 25px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.bellIconContainer {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 101;
}

.modalOpen .bellIcon {
  color: #c60606; /* Adjust the color value as needed */
}


.bellIcon {
  font-size: 45px; /* Adjust the font size as needed */
  color: black; /* Set the icon color */
}


@keyframes shakeBell {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.shakeBellAnimation {
  animation: shakeBell 0.5s forwards infinite;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  position: fixed;
  width: 80%;
  height: 80%;
  background-color: var(--secondary-color);
  z-index: 100;
  transition: opacity 0.3s, visibility 0.3s;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
}
.modal.fadeIn {
  flex-direction: column;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
}



.modalElement:hover {
  background-color: #f0f0f0;
}

.modalBody {
  margin-top: 20%;
  width: 100%;
  height: 70%;
  max-height: 70%; /* Set max-height to 50% */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds height */
}

.modalElement {
  width: 80%;
  padding: 10px;
  background-color: var(--third-color);
  margin: 3% auto; /* Center vertically and add margin for spacing */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}



.modalHeader {
  position: absolute;
  top:0;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10%;
  min-height: 10%;
 
}

/* Add these styles for the floating bell icon */
.floatingBellIcon {
  position: absolute;
  cursor: grab;
  user-drag: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.floatingBellIcon.grabbing {
  cursor: grabbing;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  margin-left: -4%;
}