.image {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}

.container:active {
  opacity: 0.6;
}

.middleSection {
  padding: 0 10px;
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 12px;
  padding-top: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  font-size: 14px;
}

.plusIcon {
  color: var(--button-color);
}
