.container {
  padding: 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
  min-height: 100vh;
}

.image {
  width: 80vw;
  height: 80vw;
  max-width: 230px;
  max-height: 230px;
  border-radius: 10px;
}

.titleContainer {
  margin-top: 20px;
  padding: 3px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 10px;
}

.ingredients {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  font-style: italic;
  font-weight: 400;
}

.description {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: 400;
}

.price {
  margin: 15px 0;
  font-size: 16px;
}

.size {
  font-size: 14px;
}

.button {
  animation: none;
  position: fixed;
  bottom: 30px;
  font-size: 16px !important;
  text-transform: none !important;
}

.button:active {
  opacity: 0.5;
}

.singleIncButton {
  margin-top: 20px;
}

.optionItems {
  margin-top: 20px;
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  padding: 5px 15px;
}

.optionInput {
  width: 40vw;
}
.optionSize {
  font-size: 14px;
  opacity: 0.8;
}

.optionPrice {
  font-size: 15px;
  font-weight: 600;
  color: var(--button-color);
}

.backButton {
  position: fixed;
  top: 85px;
  left: 15px;
}

.backButton:active {
  opacity: 0.6;
}

.backIcon {
  color: var(--button-color);
}

.inputContainer {
  width: 95%;
}

.input {
  height: 120px;
}
